@model MyApp.Models.ViewModels.CartViewModel
@using Microsoft.Extensions.Options
@inject IOptions<MyApp.CommonHelper.StripeSettings> Stripe

<div class="container mh-100">
   
    <div class="row mt-lg-5" >

        <div class="col-md-5 order-md-2 mb-4 ">
            <h4 class ="mb-3 fw-bold">Order Summary</h4>
            <div id="cart" class="bg-white rounded">
                
                @foreach (var item in Model.ListOfCart)
                {
                    <div class="d-flex pb-2">
                        <div class="item pr-2">
                            <img src="@item.Product.ImageUrl" alt="" width="80" height="80">
                            <div class="number">@item.Count</div>
                        </div>

                        <div class="px-3 mt-1">
                            <h5 class="my-0"> @item.Product.ProductName </h5>
                            <h6 class="text-muted"> @Html.Raw(item.Product.Description)</h6>
                        </div>
                        <div class="ms-auto fw-bold"> @((item.Product.Price * item.Count).ToString("c")) </div>
                    </div>
                }
        @*
                .border-bottom
                <div class="my-3 ">
                    <input type="text" class="w-100 form-control text-center" placeholder="Gift Card or Promo Card">
                </div>
                <div class="d-flex align-items-center">
                    <div class="display-5">Subtotal</div>
                    <div class="ml-auto font-weight-bold">$80.9</div>
                </div>
                <div class="d-flex align-items-center py-2 border-bottom">
                    <div class="display-5">Shipping</div>
                    <div class="ml-auto font-weight-bold">$12.9</div>
                </div>
                <div class="d-flex align-items-center py-2">
                    <div class="display-5">Total</div>
                    <div class="ml-auto d-flex">
                        <div class="text-primary text-uppercase px-3">usd</div>
                        <div class="font-weight-bold">$92.98</div>
                    </div>
                </div>
        *@

            </div>
        </div>

        <div class="col-md-7 order-md-1">
            <h4 class="mb-3 fw-bold">Billing address</h4>
            
            <form method="post" asp-action="Summary" asp-controller="Cart">
                <div id="cart" class="bg-white rounded">

                    <div class="col-md-12 mb-3">
                        <label asp-for="OrderHeader.Name" class="pb-1 fw-bold"></label>
                        <input type="text" class="form-control" asp-for="OrderHeader.Name" required>
                        <span asp-validation-for="OrderHeader.Name" class="text-danger"></span>
                    </div>
                
                    <div class="col-md-12 mb-3">
                        <label asp-for="OrderHeader.Phone" class="pb-1 fw-bold"></label>
                        <input type="number" class="form-control" asp-for="OrderHeader.Phone" required>
                        <span asp-validation-for="OrderHeader.Phone" class="text-danger"></span>
                    </div>

                    @*
                    <div class="mb-3">
                        <label asp-for="OrderHeader.Email"></label>
                        <input type="email" class="form-control" asp-for="OrderHeader.Email" required>
                        <span asp-validation-for="OrderHeader.Email" class="text-danger"></span>
                    </div>*@
                
                    <div class="mb-3">
                        <label asp-for="OrderHeader.Address" class="pb-1 fw-bold">Address</label>
                        <textarea class="form-control" asp-for="OrderHeader.Address" required></textarea>
                        <span asp-validation-for="OrderHeader.Address" class="text-danger"></span>
                    </div>



                    <div class="col-md-12 mb-3">
                        <label asp-for="OrderHeader.City" class="pb-1 fw-bold"></label>
                        <input type="text" class="form-control" asp-for="OrderHeader.City" required>
                        <span asp-validation-for="OrderHeader.City" class="text-danger"></span>
                    </div>
                    @*<div class="row">
                        <div class="col-md-5 mb-3">
                            <label for="country">Country</label>
                            <select class="custom-select d-block w-100" id="country" required="">
                                <option value="">Choose...</option>
                                <option>United States</option>
                            </select>
                            <div class="invalid-feedback"> Please select a valid country. </div>
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="state">State</label>
                            <select class="custom-select d-block w-100" id="state" required="">
                                <option value="">Choose...</option>
                                <option>California</option>
                            </select>
                            <div class="invalid-feedback"> Please provide a valid state. </div>
                        </div>
                        <div class="col-md-3 mb-3">
                            <label for="zip">Zip</label>
                            <input type="text" class="form-control" id="zip" placeholder="" required="">
                            <div class="invalid-feedback"> Zip code required. </div>
                        </div>
                    </div>
                    *@

                    @*<div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="same-address">
                        <label class="custom-control-label" for="same-address">Shipping address is the same as my billing address</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="save-info">
                        <label class="custom-control-label" for="save-info">Save this information for next time</label>
                    </div>
                    <hr class="mb-4">
                    <h4 class="mb-3">Payment</h4>
                    <div class="d-block my-3">
                        <div class="custom-control custom-radio">
                            <input id="credit" name="paymentMethod" type="radio" class="custom-control-input" checked="" required="">
                            <label class="custom-control-label" for="credit">Credit card</label>
                        </div>
                        <div class="custom-control custom-radio">
                            <input id="debit" name="paymentMethod" type="radio" class="custom-control-input" required="">
                            <label class="custom-control-label" for="debit">Debit card</label>
                        </div>
                        <div class="custom-control custom-radio">
                            <input id="paypal" name="paymentMethod" type="radio" class="custom-control-input" required="">
                            <label class="custom-control-label" for="paypal">PayPal</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="cc-name">Name on card</label>
                            <input type="text" class="form-control" id="cc-name" placeholder="" required="">
                            <small class="text-muted">Full name as displayed on card</small>
                            <div class="invalid-feedback"> Name on card is required </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="cc-number">Credit card number</label>
                            <input type="text" class="form-control" id="cc-number" placeholder="" required="">
                            <div class="invalid-feedback"> Credit card number is required </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 mb-3">
                            <label for="cc-expiration">Expiration</label>
                            <input type="text" class="form-control" id="cc-expiration" placeholder="" required="">
                            <div class="invalid-feedback"> Expiration date required </div>
                        </div>
                        <div class="col-md-3 mb-3">
                            <label for="cc-cvv">CVV</label>
                            <input type="text" class="form-control" id="cc-cvv" placeholder="" required="">
                            <div class="invalid-feedback"> Security code required </div>
                        </div>
                    </div>*@

                    <div class="col-md-12 mb-3">
                        <label asp-for="OrderHeader.State" class="pb-1 fw-bold"></label>
                        <input type="text" class="form-control" asp-for="OrderHeader.State" required>
                        <span asp-validation-for="OrderHeader.State" class="text-danger"></span>
                    </div>


                    <div class="col-md-12 mb-3">
                        <label asp-for="OrderHeader.PostalCode" class="pb-1 fw-bold"></label>
                        <input type="text" class="form-control" asp-for="OrderHeader.PostalCode" required>
                        <span asp-validation-for="OrderHeader.PostalCode" class="text-danger"></span>
                    </div>

                    <button class="btn btn-primary btn-lg btn-block" style="margin-top: 2rem !important;" type="submit">Checkout</button>
                </div>
                
            </form>
        </div>
    </div>

</div>